<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LouNexusDB"
         connectionString="Host=192.168.1.169;Port=5432;Database=LouNexus_Dev;Username=LouNexus_Admin;Password=R5dW8zJ3nF6yK2hM"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>